In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [11]:
# Instead of manual CSVs, we connect directly to the PostgreSQL database.
# This ensures the analysis is repeatable and "Production-Ready."

engine = create_engine(
    "postgresql://postgres:sukinaDA@localhost:5432/ev_project"
)

In [12]:
# We pull from SQL Views rather than raw tables to ensure we use pre-cleaned data.

city_supply = pd.read_sql("SELECT * FROM city_charger_power", engine)
city_supply.head()

         city state  total_dc_fast_kw  total_level2_kw
0  Livingston    NJ                50              280
1     Ashland    MA                 0               56
2    Vandalia    OH               200              196
3    Pipestem    WV                 0               21
4        Eden    NC                 0               28

In [13]:
vehicle_demand = pd.read_sql("SELECT * FROM vehicle_demand", engine)
vehicle_demand.head()

  manufacturer  avg_battery_kwh  avg_car_fast_kw
0        Honda           100.10             50.0
1      VinFast            90.50             50.0
2         Ford           124.13            129.0
3        Dodge           115.80             50.0
4     Maserati            64.53             50.0

In [14]:
# Average battery size is used as benchmark for "full charge demand"

avg_battery_kwh = vehicle_demand["avg_battery_kwh"].mean()

In [15]:
# Function to calculate stress per city
# Stress = Battery Demand / Fast Charger Supply
# If no fast chargers, assign max stress (100)

def calculate_stress(row):
    if row['total_dc_fast_kw'] <= 0:
        return 100.0
    return avg_battery_kwh / row['total_dc_fast_kw']

city_supply["stress_score"] = city_supply.apply(calculate_stress, axis=1)

In [16]:
city_supply["stress_score"] = city_supply["stress_score"].round(4)
city_supply["stress_score"] = city_supply["stress_score"].clip(upper=100)

In [17]:
# Converting numerical scores into actionable business categories.
# This logic will drive the color-coding (Red/Yellow/Green) in Power BI.

def classify_stress(score):
    if score >= 10:
        return "Critical Opportunity" # THE EMERGENCY ZONE
    elif score >= 1.5:  
        return "High Opportunity"     # THE GROWTH ZONE
    elif score >= 0.5:
        return "Stable/Growing"       # THE BALANCED ZONE
    else:
        return "Saturated Market"     # THE MATURE ZONE

city_supply["investment_category"] = city_supply["stress_score"].apply(classify_stress)

In [18]:
# Select final feature set
final_columns = [
    "city", 
    "state", 
    "total_dc_fast_kw", 
    "total_level2_kw", 
    "stress_score", 
    "investment_category"
]

In [19]:
# Export final CSV for Power BI visualization
city_supply[final_columns].to_csv("ev_investment_analysis_final.csv", index=False)

In [20]:
print("--- ANALYSIS COMPLETE ---")
print(f"Top 5 Opportunity Cities:\n{city_supply[['city', 'stress_score']].head(5)}")
print(f"\nInvestment Category Distribution:\n{city_supply['investment_category'].value_counts()}")

--- ANALYSIS COMPLETE ---
Top 5 Opportunity Cities:
         city  stress_score
0  Livingston        1.9079
1     Ashland      100.0000
2    Vandalia        0.4770
3    Pipestem      100.0000
4        Eden      100.0000

Investment Category Distribution:
investment_category
Critical Opportunity    3226
Saturated Market        3057
Stable/Growing           846
High Opportunity         399
Name: count, dtype: int64